button {
    width: 100px;
    height: 50px;
    margin-top: 15px;
}

#btnUp {
    position: fixed;
    top: 100px;
    right: 25px;
}

#btnDown {
    position: fixed;
    top: 160px;
    right: 25px;
}

.glyphicon {
    font-size: 25px;
}

.disabled {
    display: none;
}

.jsElms {
    height: 100vh
}

.jsElms:nth-child(0) {
    height: 95vh
}

.jsElms:nth-child(2n) {
    background-color: #A4ACB1;
}
